extends layout.pug

block content
    table
        each domain in domains
            tr
                td= domain.domain

                td
                    input(type="checkbox", name="enable", checked=domain.enabled, form=`domain-${domain.id}`)
                td
                    form(action="/domains", method="POST", id=`domain-${domain.id}`)
                        input(type="submit", value="Save")
                        input(type="hidden", name="domain", value=domain.domain)