extends layout.pug

block content
    include search-form.pug

    div= `Searching for "${results.query}"`
    div= `Completed in ${results.time}ms`
    div= `${results.list.length} results`

    if results.list.length != 0
        h2 Results
        .search-results
            each result in results.list
                .result
                    .header
                        if result.pagetitle
                            span= `${result.pagetitle} `
                        a(href=result.url)= result.url
                        span= ` (updated ${result.updated})`
                        span(style="float:right")= result.rank
                    .snippet!= result.snippet